/**
 * CSS reset
 * Normalizes default browser styles for consistent rendering
 */

@use "../variables" as vars;

* {
  /* Box Model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Visual */
  outline: none;
}

body {
  /* Typography */
  font-family: vars.$font-family-base;

  /* Visual */
  background-color: vars.$color-background-white;
}

ul {
  /* Visual */
  list-style: none;
}

a {
  /* Visual */
  text-decoration: none;
}
